
.container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding: 5px 10px 6px 10px;
  height: 39px;
}

.container:hover {
  background-color: #5c38a1;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

.dropdown__content {
  display: none;
  left: 0;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  background-color: rgba(136, 136, 136, 0.5);
  z-index: 9999;
  width: 100vw;
}

.container:hover .dropdown__content {
  display: block;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 50px auto;
}

.description_block {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 5%;
}

.i_position_absolute_top {
  font-size: 8vmin;
  color: white;
  font-weight: bold;
  margin-bottom: 1.5vmin;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 4px 4px 0px #A3A3A3;
}

.genre {
  background-color: #ba2323;
  padding: 1vmin;
  margin-right: 5px;
  color: white;
  font-weight: bold;
  font-size: 2vmin;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.block {
  width: 100%;
  height: 100%;
  position: relative;
}

.description__text {
  font-size: 3vmin;
  color: white;
  font-weight: bold;
  margin-top: 1.5vmin;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 4px 4px 0px #A3A3A3;
  width: 45vw
}