

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding: 5px 10px 6px 10px;
  height: 39px;
}

.container:hover {
  background-color: #5c38a1
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

.dropdown__content {
  display: none;
  left: 0;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  background-color: #fff;
  z-index: 9999;
  height: 200px;
  width: 50vw;
  border-radius: 5px;
  border: 1px solid dimgray;
}

.container:hover .dropdown__content {
  display: block;
}